/* ----------- Responsive --------------- */

@media screen and (max-width: 768px) {
    /* encabezado */
    .content-titulo {
        padding: 5px 40px;
    }
    /* primer section */
    .bg-first {
        padding: 15px;
        p {
            margin: 25px;
        }
    }
    /* Galeria */
    .imagen-portfolio {
        width: 44%;
    }
    /* servicios */
    .servicio-contenedor {
        justify-content: center;
        flex-direction: column;
        .servicio-i {
            width: 100%;
            text-align: center;
            font-size: 15px;
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 60px;
            }
            img {
                width: 90%;
            }
        }
    }
    /* footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
        .content-f {
            margin-bottom: 20px;
            text-align: center;
        }
        h4 {
            border: none;
        }
        p {
            color: #ccc;
            border-bottom: 1px solid $colorFirst;
            padding-bottom: 20px;
        }
    }
    .titulo-copy {
        font-size: 15px;
    }
    /* ----- service -----*/
    .cont-lg {
        justify-content: center;
        flex-direction: column;
    }
    .cont-serv {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    /* ----- contact -----*/
    form {
        margin: 20px 15px;
        padding: 50px 10px;
        div {
            display: none;
            img {
                width: 50px;
            }
        }
        textarea,
        input {
            width: 50vw;
            font-size: 10px;
            [type="submit"] {
                width: 10vw;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    /* primer section */
    .bg-first {
        padding: 15px 2px;
        p {
            margin: 5px;
        }
    }
    /* Galeria*/
    .imagen-portfolio {
        width: 95%;
    }
    /* footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
        .content-f {
            margin-bottom: 20px;
            text-align: center;
            h4 {
                border: none;
            }
            p {
                color: #ccc;
                border-bottom: 1px solid $colorFirst;
                padding-bottom: 20px;
            }
        }
    }
    .titulo-copy {
        font-size: 15px;
    }
    /* ----- contact -----*/
    form {
        margin: 20px 15px;
        padding: 50px 15px;
        form>div {
            display: none;
            textarea,
            input {
                width: 20vh;
                [type="submit"] {
                    width: 20vw;
                }
            }
        }
    }
}